<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url(/res/maxresdefault.jpg);
            background-position: center;
            background-size: cover;
        }

        .display {
            background-color: #212121;
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 300px auto;
            max-width: 600px;
            opacity: 85%;
            border-radius: 8px;
        }

        h1 {
            color: #fff;
        }

        a {
            display: block;
            margin: 10px 0;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="display">
        <h1>Dockonekt</h1>
        <a href="/login">Customer</a>
        <a href="/staff">Hospital staff</a>
    </div>
</body>

</html>