<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        body {
            background-color: #424242;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .top_bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #424242;
            align-items: center;
            padding: 10px 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .logo {
            max-height: 50px;
            max-width: 50px;
        }

        .menu_icon {
            display: none;
        }

        .profile {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: beige;
            margin: 0 1px;
            cursor: pointer;
            background-position: center;
            background-size: cover;
        }

        .menu-items {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu-items li {
            margin-right: 20px;
        }

        .menu-items li a {
            text-decoration: none;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .menu-items li a:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .form-div {
            width: 300px;
            margin: 0 auto;
            background-color: #616161;
            padding: 20px;
            margin-top: 80px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-family: sans-serif;
            height: 500px;
        }

        input,
        textarea {
            border: none;
            width: 290px;
            padding: 8px;
            outline: none;
            border-radius: 8px;
        }

        input {
            margin-bottom: 10px;
        }

        textarea {
            height: 100px;
        }

        input:hover,
        textarea:hover {
            background-color: #f0f0f0;
        }

        button {
            background-color: beige;
            padding: .5em;
            border: none;
            border-radius: 8px;
            margin: 10px 0;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .menu-items {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: #424242;
                padding: 10px 0;
                text-align: center;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                z-index: 1000;
            }

            .menu-items.show {
                display: flex;
                flex-direction: column;
                margin-top: 35px;
            }

            .menu-items li {
                margin-right: 0;
                margin-bottom: 10px;
            }

            .logo {
                display: none;
            }

            .top_bar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .profile {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: beige;
                margin: .1em;
                cursor: pointer;
            }

            .menu_icon {
                display: block;
            }

            .menu-items {
                display: none;
                padding: 1em;
                text-align: left;
            }

            .top_bar ul.show {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 37px;
                left: 0;
                background-color: #424242;
                width: 100%;
                z-index: 1000;
                text-align: left;
            }

            .menu-items li a {
                text-decoration: none;
                color: #fff;
                padding: 1.5em;
            }

            .menu-items li {
                display: block;
                text-align: left;
                margin-left: -40px;
                padding: .8em;
            }

            .form-div {
                width: 280px;
                margin: 0 auto;
                background-color: #616161;
                padding: 20px;
                margin-top: 60px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                font-family: sans-serif;
                height: 400px;
            }

            input,
            textarea {
                border: none;
                width: 260px;
                padding: 8px;
                outline: none;
                border-radius: 8px;
            }
        }
    </style>
</head>

<body>
    <div class="top_bar">
        <img src="/res/Picture4.png" alt="logo" class="logo">
        <img src="/res/menu_icon.png" alt="menu_icon" class="menu_icon" id="menu_icon">
        <ul class="menu-items" id="menu-items">
            <li><a href="/home" title="Home page">Home</a></li>
            <li><a href="/profile" title="Blogs page">Profile</a></li>
            <li><a href="/messages" title="Send uus a messaage">Contact Us</a></li>
        </ul>
        <div class="profile" id="profile" style="background-image: url('/uploads/<%=  user.profile_pic %>');">">
        </div>
    </div>
    <div class="form-div">
        <input type="text" name="name" id="name" required placeholder="John Doe" autocomplete="additional-name"><br>
        <input type="email" name="email" id="email" required placeholder="johndoe@gmail.com" autocomplete="email"><br>
        <input type="text" name="phone" id="phone" required placeholder="0711223344" autocomplete="phone"><br>
        <textarea name="message" id="message" cols="30" rows="10" required placeholder="Write your message here"
            autocomplete="message"></textarea><br>

        <button class="submit" type="submit" id="submit">Send Message</button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const menuIcon = document.getElementById('menu_icon');
            const menuItems = document.getElementById('menu-items');

            const profile = document.getElementById('profile');

            profile.addEventListener('click', async (e) => {
                window.location.href = '/profile';
            })


            menuIcon.addEventListener('click', function () {
                menuItems.classList.toggle('show');
            });

            const submit = document.getElementById("submit");

            submit.addEventListener("click", async (e) => {
                e.preventDefault();

                //Get the values from the input fields
                const unameValue = document.getElementById('name').value.trim();
                const emailValue = document.getElementById('email').value.trim();
                const phoneValue = document.getElementById('phone').value.trim();
                const messageValue = document.getElementById('message').value.trim();

                // Check if any of the fields is empty
                if (unameValue === "" && emailValue === "" && phoneValue === "" && messageValue === "") {
                    alert("Please fill all input fields");
                }
                else {
                    let data = {
                        name: unameValue,
                        email: emailValue,
                        phone: phoneValue,
                        message: messageValue,
                    }

                    try {


                        const res = await fetch('/messages', {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });
                        const json = await res.json();

                        if (res.ok) {
                            // Reset the form after successful submission
                            unameValue.value = "";
                            emailValue.value = "";
                            phoneValue.value = "";
                            messageValue.value = "";

                            alert("Your message is sucessfully sent");
                            window.location.href = '/home';

                        }
                        else {
                            console.log("Something went wrong");
                        }

                    } catch (error) {
                        console.error("Error during sending of message:", error);
                    }

                }
            });
        });
    </script>
</body>

</html>