<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/small-devices.css">
    <link rel="icon" href="/res/Picture4.png" type="image/x-icon">
    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Welcome to DocKonekt. Search for your hospital below or scroll down to pick a hospital.">
    <meta name="keywords" content="DocKonekt, hospital, health, search">
    <meta name="author" content="Futurion Labs">

    <!-- Open Graph Protocol for Social Media Sharing -->
    <meta property="og:title" content="DocKonekt">
    <meta property="og:description"
        content="Welcome to DocKonekt. Search for your hospital below or scroll down to pick a hospital.">
    <meta property="og:image" content="https://dockonekt.com/app/public/res/Picture4.png">
    <meta property="og:url" content="https://dockonekt.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card for Twitter Sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@louiso_chieng1">
    <meta name="twitter:title" content="DocKonekt">
    <meta name="twitter:description"
        content="Welcome to DocKonekt. Search for your hospital below or scroll down to pick a hospital.">
    <meta name="twitter:image" content="https://dockonekt.com/app/public/res/Picture4.png">
</head>

<body>
    <div class="auth">
        <div class="home">
            <div class="left">
                <div class="text">
                    <img src="/res/Picture4.png" alt="logo" class="logo">
                    <h1> Welcome to DocKonekt</h1>
                    <p>A service offered to make it easier for doctors and patients to connect.
                    </p>
                </div>
            </div>
            <div class="right">
                <!-- Login form -->
                <form class="login-form" action="" method="post" id="login-form">
                    <h1>Login</h1>
                    <input type="email" name="login-email" id="login-email" required autocomplete="email"
                        placeholder="Email address">
                    <input type="password" name="password" id="login-password" required autocomplete="current-password"
                        placeholder="Password">
                    Show Password<input type="checkbox" id="showPassword">
                    <button type="button" id="login-btn" class="login">Login</button>
                    <p class="alt_account">Don't have an account? <br><a href="/staff/register"
                            id="register-link">Register</a></p>
                </form>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const loginBtn = document.getElementById('login-btn');
                        const loginEmail = document.getElementById('login-email');
                        const loginPassword = document.getElementById('login-password');

                        loginBtn.addEventListener('click', async (e) => {
                            e.preventDefault();

                            const emailValue = loginEmail.value.trim();
                            const passwordValue = loginPassword.value.trim();

                            if (emailValue === '' || passwordValue === '') {
                                window.confirm('Both email and password are required.');
                            } else {
                                const userData = {
                                    email: emailValue,
                                    password: passwordValue,
                                };

                                try {
                                    const response = await fetch('/staff-login', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify(userData),
                                    });

                                    const result = await response.json();
                                    // console.log('Login result:', result); 

                                    if (result.message === 'Login successful') {
                                        alert('Login successful!');
                                        window.location.href = result.redirect;
                                    } else {
                                        alert('Login failed. Check your credentials.');
                                    }
                                } catch (error) {
                                    console.error('Error during login:', error);
                                    window.confirm('An error occurred during login. Please try again.');
                                }
                            }
                        });

                        const showPasswordCheckbox = document.getElementById('showPassword');

                        showPasswordCheckbox.addEventListener('change', function () {
                            if (showPasswordCheckbox.checked) {
                                loginPassword.type = 'text'; // Corrected: Change type to 'text' to show the password
                            } else {
                                loginPassword.type = 'password'; // Change type back to 'password' to hide the password
                            }
                        });


                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>